body, ul, li {
	margin: 0;
	padding: 0;
}


html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Lato;
	color: #333;
	overflow-y: scroll;
    background: url(../../bg.jpg) no-repeat center fixed;
	display: block;
    background-size: cover;
/*	background-color: #c7c3bf;*/
	letter-spacing: 1.5px;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: #333;
}

.wrapper {
	width: 90%;
/*	max-width: 1180px;*/
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 2%;
}

header {
/*	position: fixed;*/
	display: block;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: white;
	overflow: hidden;

}

h1 {
	font-family: Raleway;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 1px;
	float: left;
	margin: 0;
}

li {
	list-style-type: none;
}

header nav h2 {
	line-height: 0; /* VERY IMPORTANT */
	margin: 0;
	text-indent: 100%; 
	white-space: nowrap; 
	overflow: hidden;
}

header nav {
	float: right;
	height: 80px;
	margin: auto;
}

header:after {
	display: block;
	content: "";
	clear: both;
}

header nav li {
	float: left;
	margin-left: 20px;
}

header nav li:hover {
	font-weight: 700;
}

header nav li a {
	text-transform: uppercase;
	letter-spacing: 2px;
}

header nav li a.current {
	color: red;
}

#main-banner {
	padding: 80px 0 0 0;
	margin: 0;
	line-height: 0;
}

#main-banner img {
	width: 100%;
}

.main-element {
	border: 5px solid #333;
	text-align: center;
	padding: 0 8% 30px 8%;
	margin: 30px 0;
}

.main-element h2 {
	width: 6em;
	background-color: #e2e0de;
	margin: -17px auto 15px;
	font-size: 25px;
	text-align: center;
}

.with-background {
	background-color: #e2e0de;
	width: 100%;
	padding: 15px 0;
	margin: 0;
}

#portfolio img {
	width: 100%;
}

#portfolio li {
	float: left;
	width: 30%;
	padding: 1.66%;
	text-align: center;
	line-height: 1.6em;
}

#portfolio:after {
	display: block;
	content: "";
	clear: both;
}


#experience li {
	float: left;
	width: 45%;
	padding: 2.5%;
	text-align: center;
	line-height: 1.6em;
}

#experience:after {
	display: block;
	content: "";
	clear: both;
}

#experience img {
	width: 100%;
}

.main-element ul {
	display: inline-block;
}

button {
	background-color: white;
	font-family: Lato;
	color: #333;
	border: 0;
	font-size: 16px;
  	padding: 13px 18px;
  	text-decoration: none;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	outline: none;
  	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
	transition: 0.5s background-color;
}

button:hover {
	background-color: #f2f2f2;
	cursor: pointer;
	font-weight: 700;
}

#copyright {
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
}
